body {
    margin: 0;
    padding: 0;
}

#main {
    width: 40%;
    margin-left:auto;
    margin-right: auto;
}

/* Header */
#header {
    border: 2px solid blue;
    background-color: lightblue;
}
h1 {
    text-align: center;
    text-transform: full-width;
    -webkit-transform:scale(1.2,1.0);
    -moz-transform:scale(1.2, 1.0);
    -ms-transform:scale(1.2, 1.0);
    -o-transform:scale(1.2, 1.0);
    transform:scale(1.2,1.0);
}

/* Writing Comments section */
